* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #331f0e;
}

#root {
  width: 420px;
}

.row {
  display: flex;
  width: 800px;
}

#collection, #encounter {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#collection {
  background-color: #e5b94b;
}

#encounter {
  background-color: #111110;
}

#viewer, #details, #search {
  width: 400px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  overflow-y: scroll;
}

#viewer {
  background-color: rgb(254, 254, 254);
  height: 250px;
}

#details {
  background-color: #111110;
  color: #ddb;
  height: 250px;
}

#search {
  height: 30px;
}

#save, #load {
  height: 30px;
  width: 200px;
  margin: 5px;
  padding: 5px;
}

#details input {
  width: 300px;
  margin: 5px;
  padding: 5px;
}

#details .stats {
  font-family: 'Merriweather', serif;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .box {
  height: 30%;
  width: 50%;
  margin: 15% auto;
  background-color: white;
  padding: 20px;
}

.modal textarea {
  width: 90%;
  height: 200px;
  resize: none;
}

.modal .output {
  border: 1px solid black;
  width: 90%;
  height: 200px;
  overflow-y: scroll;
  word-wrap: break-word;
}
